:root {
    --bg0: #21222C;
    --bg1: #282a36;
    --bg2: #44475a;
    --fg: #F8F8F2;
    --border: #44475a;
    --a: #D6ACFF;
    --a-hover: #BD93F9;
    --h1: #D6ACFF;
    --a-h1-hover: #BD93F9;
    --h2: #FF92DF;
    --a-h2-hover: #FF79C6;
    --h3: #A4FFFF;
    --li-marker: #FF6E6E;
    --hr: #f1fa8c;
}
