:root {
    --content-bg: #3c3836;
    --navbar-bg: #282828;
    --title-footer-button-select-bg: #1d2021;
    --a: #83a598;
    --a-hover: #458588;
    --h1: #83a598;
    --a-h1-hover: #458588;
    --h2: #d3869b;
    --a-h2-hover: #b16286;
    --h3: #8ec07c;
    --li-marker: #fb4934;
    --fg: #ebdbb2;
    --border: #665c54;
    --hr: #fabd2f;
}
